<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="POST">
        <label for="">First Name</label>
        <br>
        <input name="FirstName" type="text">
        <br>
        <br>
        <label for="">Last Name</label>
        <br>
        <input name="LastName" type="text">
        <br>
        <br>
        <label for="">email</label>
        <br>
        <input name="email" type="text">
        <br>
        <br>
        <label for="">Address</label>
        <br>
        <input name="Address" type="text">
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>